@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.5s;
}

.font-mulish {
  font-family: Mulish, sans-serif !important;
}

/* .bg-ht-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 231 0 / var(--tw-bg-opacity));
} */

.glufeature {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.border-ht-100 {
  --tw-border-opacity: 1;
  border-color: rgb(255 231 0 / var(--tw-border-opacity));
}

.animate-up-parent {
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animate-up-parent;
  animation-timeline: auto;
  animation-range-start: normal;
}
